services:
  banco:
    build: 
      context: ./banco
      dockerfile: Dockerfile
    image: mysql
    container_name: mysql
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    ports:
      - "3306:3306"
    networks:
      - projeto-asa
    
  portal:
    build:
      context: ./portal
      dockerfile: Dockerfile
    image: portal
    container_name: portal
    depends_on:
      - banco
    networks:
      - projeto-asa

  intranet:
    build:
      context: ./intranet
      dockerfile: Dockerfile
    image: intranet
    container_name: intranet
    depends_on:
      - banco
    networks:
      - projeto-asa

  webmail:
    build: 
      context: ./webmail
      dockerfile: Dockerfile
    image: webmail
    container_name: webmail
    networks:
      - projeto-asa

  proxy:
    build: 
      context: ./proxy
      dockerfile: Dockerfile
    image: proxy
    container_name: proxy
    ports:
      - "80:80"
    depends_on:
      - intranet
      - webmail
      - portal
    networks:
      - projeto-asa

  dnsprimario:
    build:
      context: ./dns/primario
      dockerfile: Dockerfile
    image: dnsprimario
    container_name: dnsprimario
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    networks:
      - projeto-asa

  dnssecundario:
    build:
      context: ./dns/secundario
      dockerfile: Dockerfile
    image: dnssecundario
    container_name: dnssecundario
    ports:
      - "54:53/udp"
      - "54:53/tcp"
    networks:
      - projeto-asa

networks:
  projeto-asa:
    driver: bridge
volumes:
  db-data: